.footer {
  display: flex;
  background-color: #7b7c26;
  padding: 10px;
  justify-content: space-between;
}

.logo-footer {
  width: 30%;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  color: #6c6d21;
  font-size: 30px;
}

.find-me h3,
.quick-links h3,
.quick-destinations h3 {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 100;
}

.find-me p,
.quick-destinations ul li,
.foot-links {
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 7px;
}

.quick-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 7px;
}

.quick-destinations {
  padding-right: 80px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}

.quick-destinations ul {
  gap: 5px;
}

.quick-destinations ul li {
  list-style: none;
  padding: 7px;
}

.foot-links {
  text-decoration: none;
}
