@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}

.home-holder {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/images/general/Hero.jpg");
}
