body {
  margin: 0;
  font-family: "Roboto Slab", serif;
  margin: 0;
  padding: 0;
}

.app h1,
.app h2 {
  color: #2d2d2d;
}

section {
  padding: 40px 20px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card,
.package-card,
.testimonial {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.btn {
  background: #6b6b3a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/* Hide scrollbar but keep scrolling */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE/Edge (old versions) */
body {
  -ms-overflow-style: none;
}
/* Example for Roboto Slab Regular */
@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-x: hidden;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Remove purple + underline from all links */
a,
a:visited {
  color: white; /* or inherit if you want it to follow parent */
  text-decoration: none; /* removes underline */
}
